
.tarefas {
    margin-top: 30px;
}

.tarefas li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    transition: all 300ms;
}

.tarefas li:hover {
    background: rgb(169, 80, 196);
    font-weight: bold;
}

.tarefas li .edit {
    margin-right: 15px;
    color: rgb(27, 151, 11);
}

.tarefas li .delete {
    margin-right: 15px;
    color: rgb(201, 1, 1);
}
.tarefas li:hover .edit,
.tarefas li:hover .delete {
    color: black;
}

.tarefas li .edit,
.tarefas li .delete {
    cursor: pointer;
}